{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Worker List</title>

    <link rel="shortcut icon" type="../keni80_html_standard_turquoise_201906301608/image/x-icon" href="./favicon.ico">
    <link rel="apple-touch-icon" href="../keni80_html_standard_turquoise_201906301608/images/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="../keni80_html_standard_turquoise_201906301608/images/apple-touch-icon.png">
    {% block extrahead %}
      <link href="{% static 'keni80_html_standard_turquoise_201906301608/base.css' %}" rel="stylesheet">
      <link rel="icon" href="keni80_html_standard_turquoise_201906301608/images/apple-touch-icon.png">
      <link rel="stylesheet" href="keni80_html_standard_turquoise_201906301608/advanced.css">
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>maker</th>
          <th>name</th>
        </tr>
      </thead>
      <tbody>
        {% for worker in ocn %}
        <tr>
          <td>{{worker.id}}</td>
          <td>{{worker.maker}}</td>
          <td>{{worker.name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
