@charset "UTF-8";

/*
# =================================================================
# 汎用パーツのデザイン
# =================================================================
*/

/*注記*/
.note{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

.note2{
	display: block;
	padding-left: 2em;
	text-indent: -2em;
}


/*必須項目・警告・エラーの文字色*/
.warning,
.error{
	color: #e53935!important;
}

.required{
	display: inline-block;
	padding: .1em .5em;
	background-color: #eb3b54;
	color: #fff;
	font-size: 1.2rem;
	line-height: 1.0;
}


/*傍点*/
.dot{
	position: relative;
	padding-top: 5px;
}

.dot:before{
	position: absolute;
	top: 0;
	left: 50%;
	width: 0.2em;
	height: 0.2em;
	margin-left: -.1em;
	border-radius: 50%;
	background: #333;
	content: "";
}


/*装飾*/
.shadow{ box-shadow: 4px 4px 0px #e9e9e9; }

.shadow02{ box-shadow: 0px 0px 4px #666; }

.outline{
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.frame{
	max-width: 95%;
	padding: 8px;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px #666;
	background: #fff;
}

.bdr,
.bdr_gray{ border: 1px solid #ccc; }/*灰*/
.bdr_red{ border: 1px solid #e00000; }/*赤*/
.bdr_blue{ border: 1px solid #0329ce; }/*青*/
.bdr_green{ border: 1px solid #01995e; }/*緑*/
.bdr_yellow{ border: 1px solid #ffe400; }/*黄*/
.bdr_navy{ border: 1px solid #133d94; }/*紺*/
.bdr_orange{ border: 1px solid #eca100; }/*橙*/
.bdr_pink{ border: 1px solid #eb67b5; }/*ピンク*/
.bdr_lime{ border: 1px solid #2abe0d; }/*黄緑*/
.bdr_aqua{ border: 1px solid #0baedd; }/*水色*/
.bdr_black{ border: 1px solid #000; }/*黒*/


/*画像のサイズ調整*/
.resize10{
	max-width: 10%;
	height: auto;
}

.resize20{
	max-width: 20%;
	height: auto;
}

.resize30{
	max-width: 30%;
	height: auto;
}

.resize40{
	max-width: 40%;
	height: auto;
}

.resize50{
	max-width: 50%;
	height: auto;
}

.resize60{
	max-width: 60%;
	height: auto;
}

.resize70{
	max-width: 70%;
	height: auto;
}

.resize80{
	max-width: 80%;
	height: auto;
}

.resize90{
	max-width: 90%;
	height: auto;
}


/*円*/
.circle{ border-radius: 50%; }


/*角丸*/
.rc4{ border-radius: 4px; }
.rc4-tl{ border-top-left-radius: 4px; }
.rc4-tr{ border-top-right-radius: 4px; }
.rc4-bl{ border-bottom-left-radius: 4px; }
.rc4-br{ border-bottom-right-radius: 4px; }

.rc8{ border-radius: 8px; }
.rc8-tl{ border-top-left-radius: 8px; }
.rc8-tr{ border-top-right-radius: 8px; }
.rc8-bl{ border-bottom-left-radius: 8px; }
.rc8-br{ border-bottom-right-radius: 8px; }

.rc12{ border-radius: 12px; }
.rc12-tl{ border-top-left-radius: 12px; }
.rc12-tr{ border-top-right-radius: 12px; }
.rc12-bl{ border-bottom-left-radius: 12px; }
.rc12-br{ border-bottom-right-radius: 12px; }


/*角丸長方形
※高さ100pxまで*/
.rc50{ border-radius: 50px; }


/*回り込み
※モバイル時にも解除されない*/
.fl-l{
	float: left;
	margin: 0 1em 1em 0;
}

.fl-r{
	float: right;
	margin: 0 0 1em 1em;
}

.fl-c{ clear: both; }


/*回り込み
※モバイル時には回り込み解除*/
.left{
	margin: 0 0 1em 0;
}

.right{
	margin: 0 0 1em 0;
}

@media (min-width : 768px){

	/*回り込み
	※モバイル時には回り込み解除*/
	.left{
		float: left;
		margin: 0 1em 1em 0;
	}

	.right{
		float: right;
		margin: 0 0 1em 1em;
	}

}/*横幅768px以上*/


/*テーブルレイアウト*/
.tl-a{
	table-layout: auto;
}

.tl-f{
	table-layout: fixed;
}


/*文字の横位置*/
.al-l{ text-align: left!important; }
.al-r{ text-align: right!important; }
.al-c{ text-align: center!important; }


/*文字の縦位置*/
.vl-t{ vertical-align: top!important; }/*上寄せ*/
.vl-m{ vertical-align: middle!important; }/*中央寄せ*/
.vl-b{ vertical-align: bottom!important; }/*下寄せ*/


/*周りのブロックからの距離（margin）*/
.m0{ margin: 0!important; }/*周りからのmarginを0に*/
.m0-t{ margin-top: 0!important; }/*上からのmarginを0に*/
.m0-r{ margin-right: 0!important; }/*右からのmarginを0に*/
.m0-b{ margin-bottom: 0!important; }/*下からのmarginを0に*/
.m0-l{ margin-left: 0!important; }/*左からのmarginを0に*/

.m5{ margin: 5px!important; }
.m5-t{ margin-top: 5px!important; }
.m5-r{ margin-right: 5px!important; }
.m5-b{ margin-bottom: 5px!important; }
.m5-l{ margin-left: 5px!important; }

.m10{ margin: 10px!important; }
.m10-t{ margin-top: 10px!important; }
.m10-r{ margin-right: 10px!important; }
.m10-b{ margin-bottom: 10px!important; }
.m10-l{ margin-left: 10px!important; }

.m15{ margin: 15px!important; }
.m15-t{ margin-top: 15px!important; }
.m15-r{ margin-right: 15px!important; }
.m15-b{ margin-bottom: 15px!important; }
.m15-l{ margin-left: 15px!important; }

.m20{ margin: 20px!important; }
.m20-t{ margin-top: 20px!important; }
.m20-r{ margin-right: 20px!important; }
.m20-b{ margin-bottom: 20px!important; }
.m20-l{ margin-left: 20px!important; }

.m25{ margin: 25px!important; }
.m25-t{ margin-top: 25px!important; }
.m25-r{ margin-right: 25px!important; }
.m25-b{ margin-bottom: 25px!important; }
.m25-l{ margin-left: 25px!important; }

.m30{ margin: 30px!important; }
.m30-t{ margin-top: 30px!important; }
.m30-r{ margin-right: 30px!important; }
.m30-b{ margin-bottom: 30px!important; }
.m30-l{ margin-left: 30px!important; }

.m40{ margin: 40px!important; }
.m40-t{ margin-top: 40px!important; }
.m40-r{ margin-right: 40px!important; }
.m40-b{ margin-bottom: 40px!important; }
.m40-l{ margin-left: 40px!important; }

.m50{ margin: 50px!important; }
.m50-t{ margin-top: 50px!important; }
.m50-r{ margin-right: 50px!important; }
.m50-b{ margin-bottom: 50px!important; }
.m50-l{ margin-left: 50px!important; }

.m60{ margin: 60px!important; }
.m60-t{ margin-top: 60px!important; }
.m60-r{ margin-right: 60px!important; }
.m60-b{ margin-bottom: 60px!important; }
.m60-l{ margin-left: 60px!important; }

.m70{ margin: 70px!important; }
.m70-t{ margin-top: 70px!important; }
.m70-r{ margin-right: 70px!important; }
.m70-b{ margin-bottom: 70px!important; }
.m70-l{ margin-left: 70px!important; }

.m80{ margin: 80px!important; }
.m80-t{ margin-top: 80px!important; }
.m80-r{ margin-right: 80px!important; }
.m80-b{ margin-bottom: 80px!important; }
.m80-l{ margin-left: 80px!important; }

.m90{ margin: 90px!important; }
.m90-t{ margin-top: 90px!important; }
.m90-r{ margin-right: 90px!important; }
.m90-b{ margin-bottom: 90px!important; }
.m90-l{ margin-left: 90px!important; }

.m100{ margin: 100px!important; }
.m100-t{ margin-top: 100px!important; }
.m100-r{ margin-right: 100px!important; }
.m100-b{ margin-bottom: 100px!important; }
.m100-l{ margin-left: 100px!important; }

.m120{ margin: 120px!important; }
.m120-t{ margin-top: 120px!important; }
.m120-r{ margin-right: 120px!important; }
.m120-b{ margin-bottom: 120px!important; }
.m120-l{ margin-left: 120px!important; }

.m150{ margin: 150px!important; }
.m150-t{ margin-top: 150px!important; }
.m150-r{ margin-right: 150px!important; }
.m150-b{ margin-bottom: 150px!important; }
.m150-l{ margin-left: 150px!important; }

.m200{ margin: 200px!important; }
.m200-t{ margin-top: 200px!important; }
.m200-r{ margin-right: 200px!important; }
.m200-b{ margin-bottom: 200px!important; }
.m200-l{ margin-left: 200px!important; }

.m300{ margin: 300px!important; }
.m300-t{ margin-top: 300px!important; }
.m300-r{ margin-right: 300px!important; }
.m300-b{ margin-bottom: 300px!important; }
.m300-l{ margin-left: 300px!important; }


/*周りのブロックからの距離（padding）*/
.p0{ padding: 0!important; }
.p0-t{ padding-top: 0!important; }
.p0-r{ padding-right: 0!important; }
.p0-b{ padding-bottom: 0!important; }
.p0-l{ padding-left: 0!important; }

.p5{ padding: 5px!important; }
.p5-t{ padding-top: 5px!important; }
.p5-r{ padding-right: 5px!important; }
.p5-b{ padding-bottom: 5px!important; }
.p5-l{ padding-left: 5px!important; }

.p10{ padding: 10px!important; }
.p10-t{ padding-top: 10px!important; }
.p10-r{ padding-right: 10px!important; }
.p10-b{ padding-bottom: 10px!important; }
.p10-l{ padding-left: 10px!important; }

.p15{ padding: 15px!important; }
.p15-t{ padding-top: 15px!important; }
.p15-r{ padding-right: 15px!important; }
.p15-b{ padding-bottom: 15px!important; }
.p15-l{ padding-left: 15px!important; }

.p20{ padding: 20px!important; }
.p20-t{ padding-top: 20px!important; }
.p20-r{ padding-right: 20px!important; }
.p20-b{ padding-bottom: 20px!important; }
.p20-l{ padding-left: 20px!important; }

.p25{ padding: 25px!important; }
.p25-t{ padding-top: 25px!important; }
.p25-r{ padding-right: 25px!important; }
.p25-b{ padding-bottom: 25px!important; }
.p25-l{ padding-left: 25px!important; }

.p30{ padding: 30px!important; }
.p30-t{ padding-top: 30px!important; }
.p30-r{ padding-right: 30px!important; }
.p30-b{ padding-bottom: 30px!important; }
.p30-l{ padding-left: 30px!important; }

.p40{ padding: 40px!important; }
.p40-t{ padding-top: 40px!important; }
.p40-r{ padding-right: 40px!important; }
.p40-b{ padding-bottom: 40px!important; }
.p40-l{ padding-left: 40px!important; }

.p50{ padding: 50px!important; }
.p50-t{ padding-top: 50px!important; }
.p50-r{ padding-right: 50px!important; }
.p50-b{ padding-bottom: 50px!important; }
.p50-l{ padding-left: 50px!important; }

.p60{ padding: 60px!important; }
.p60-t{ padding-top: 60px!important; }
.p60-r{ padding-right: 60px!important; }
.p60-b{ padding-bottom: 60px!important; }
.p60-l{ padding-left: 60px!important; }

.p70{ padding: 70px!important; }
.p70-t{ padding-top: 70px!important; }
.p70-r{ padding-right: 70px!important; }
.p70-b{ padding-bottom: 70px!important; }
.p70-l{ padding-left: 70px!important; }

.p80{ padding: 80px!important; }
.p80-t{ padding-top: 80px!important; }
.p80-r{ padding-right: 80px!important; }
.p80-b{ padding-bottom: 80px!important; }
.p80-l{ padding-left: 80px!important; }

.p90{ padding: 90px!important; }
.p90-t{ padding-top: 90px!important; }
.p90-r{ padding-right: 90px!important; }
.p90-b{ padding-bottom: 90px!important; }
.p90-l{ padding-left: 90px!important; }

.p100{ padding: 100px!important; }
.p100-t{ padding-top: 100px!important; }
.p100-r{ padding-right: 100px!important; }
.p100-b{ padding-bottom: 100px!important; }
.p100-l{ padding-left: 100px!important; }


/*上下にモバイルとデスクトップで異なるサイズの余白を空ける*/
.m10-20-t{ margin-top: 10px; }/*モバイルのときは10pxでPCのときは20px*/
.m15-30-t{ margin-top: 15px; }
.m20-40-t{ margin-top: 20px; }
.m25-50-t{ margin-top: 25px; }
.m30-60-t{ margin-top: 30px; }
.m35-70-t{ margin-top: 35px; }
.m40-80-t{ margin-top: 40px; }
.m45-90-t{ margin-top: 45px; }

.m10-20-b{ margin-bottom: 10px; }
.m15-30-b{ margin-bottom: 15px; }
.m20-40-b{ margin-bottom: 20px; }
.m25-50-b{ margin-bottom: 25px; }
.m30-60-b{ margin-bottom: 30px; }
.m35-70-b{ margin-bottom: 35px; }
.m40-80-b{ margin-bottom: 40px; }
.m45-90-b{ margin-bottom: 45px; }

@media (min-width : 768px){

	/*周りのブロックからの距離（margin）*/
	.m10-20-t{ margin-top: 20px!important; }
	.m15-30-t{ margin-top: 30px!important; }
	.m20-40-t{ margin-top: 40px!important; }
	.m25-50-t{ margin-top: 50px!important; }
	.m30-60-t{ margin-top: 60px!important; }
	.m35-70-t{ margin-top: 70px!important; }
	.m40-80-t{ margin-top: 80px!important; }
	.m45-90-t{ margin-top: 90px!important; }

	.m10-20-b{ margin-bottom: 20px!important; }
	.m15-30-b{ margin-bottom: 30px!important; }
	.m20-40-b{ margin-bottom: 40px!important; }
	.m25-50-b{ margin-bottom: 50px!important; }
	.m30-60-b{ margin-bottom: 60px!important; }
	.m35-70-b{ margin-bottom: 70px!important; }
	.m40-80-b{ margin-bottom: 80px!important; }
	.m45-90-b{ margin-bottom: 90px!important; }

}/*横幅768px以上*/


/*フォントの装飾*/
.b{ font-weight: bold!important; }/*太字*/
.normal{ font-weight: normal!important; }/*太字を解除*/


/*フォントサイズの設定*/
.big{ font-size: 1.2em!important; }
.big2{ font-size: 1.5em!important; }
.big3{ font-size: 1.8em!important; }
.small{ font-size: 0.8em!important; }

.f08em{ font-size: 0.8em!important; }
.f09em{ font-size: 0.9em!important; }
.f10em{ font-size: 1.0em!important; }
.f11em{ font-size: 1.1em!important; }
.f12em{ font-size: 1.2em!important; }
.f13em{ font-size: 1.3em!important; }
.f14em{ font-size: 1.4em!important; }
.f15em{ font-size: 1.5em!important; }
.f16em{ font-size: 1.6em!important; }
.f17em{ font-size: 1.7em!important; }
.f18em{ font-size: 1.8em!important; }
.f19em{ font-size: 1.9em!important; }
.f20em{ font-size: 2.0em!important; }
.f21em{ font-size: 2.1em!important; }
.f22em{ font-size: 2.2em!important; }
.f23em{ font-size: 2.3em!important; }
.f24em{ font-size: 2.4em!important; }
.f25em{ font-size: 2.5em!important; }
.f26em{ font-size: 2.6em!important; }
.f27em{ font-size: 2.7em!important; }
.f28em{ font-size: 2.8em!important; }
.f29em{ font-size: 2.9em!important; }
.f30em{ font-size: 3.0em!important; }

.f08rem{ font-size: 0.8rem!important; }
.f09rem{ font-size: 0.9rem!important; }
.f10rem{ font-size: 1.0rem!important; }
.f11rem{ font-size: 1.1rem!important; }
.f12rem{ font-size: 1.2rem!important; }
.f13rem{ font-size: 1.3rem!important; }
.f14rem{ font-size: 1.4rem!important; }
.f15rem{ font-size: 1.5rem!important; }
.f16rem{ font-size: 1.6rem!important; }
.f17rem{ font-size: 1.7rem!important; }
.f18rem{ font-size: 1.8rem!important; }
.f19rem{ font-size: 1.9rem!important; }
.f20rem{ font-size: 2.0rem!important; }
.f21rem{ font-size: 2.1rem!important; }
.f22rem{ font-size: 2.2rem!important; }
.f23rem{ font-size: 2.3rem!important; }
.f24rem{ font-size: 2.4rem!important; }
.f25rem{ font-size: 2.5rem!important; }
.f26rem{ font-size: 2.6rem!important; }
.f27rem{ font-size: 2.7rem!important; }
.f28rem{ font-size: 2.8rem!important; }
.f29rem{ font-size: 2.9rem!important; }
.f30rem{ font-size: 3.0rem!important; }

.f10px{ font-size: 10px!important; }
.f11px{ font-size: 11px!important; }
.f12px{ font-size: 12px!important; }
.f13px{ font-size: 13px!important; }
.f14px{ font-size: 14px!important; }
.f15px{ font-size: 15px!important; }
.f16px{ font-size: 16px!important; }
.f17px{ font-size: 17px!important; }
.f18px{ font-size: 18px!important; }
.f19px{ font-size: 19px!important; }
.f20px{ font-size: 20px!important; }
.f21px{ font-size: 21px!important; }
.f22px{ font-size: 22px!important; }
.f23px{ font-size: 23px!important; }
.f24px{ font-size: 24px!important; }


/*フォントの色設定*/
.red{ color: #e00000!important; }/*赤*/
.blue{ color: #0329ce!important; }/*青*/
.green{ color: #01995e!important; }/*緑*/
.yellow{ color: #ffe400!important; }/*黄*/
.navy{ color: #133d94!important; }/*紺*/
.orange{ color: #eca100!important; }/*橙*/
.pink{ color: #eb67b5!important; }/*ピンク*/
.purple{ color: #9940d2!important; }/*紫*/
.olive{ color: #9bb814!important; }/*オリーブ*/
.lime{ color: #2abe0d!important; }/*黄緑*/
.aqua{ color: #0baedd!important; }/*水色*/
.black{ color: #000!important; }/*黒*/
.gray{ color: #999!important; }/*灰*/
.white{ color: #fff!important; }/*白*/
.brown{ color: #4b1c1c!important; }/*茶*/


/*マーカー表示
背景に着色、「box-xx」から変更*/
.line-blue{ background: linear-gradient(transparent 50%, #9ddff1 50%); }/*青*/
.line-yellow{ background: linear-gradient(transparent 50%, #fff499 50%); }/*黄*/
.line-orange{ background: linear-gradient(transparent 50%, #f7d999 50%); }/*橙*/
.line-pink{ background: linear-gradient(transparent 50%, #f7c2e1 50%); }/*ピンク*/
.line-lime{ background: linear-gradient(transparent 50%, #aae59e 50%); }/*黄緑*/
.line-gray{ background: linear-gradient(transparent 50%, #d6d6d6 50%); }/*灰*/


/*iframeのレスポンシブ*/
.v-res_wrap{
	max-width: 500px;
	margin: auto;
	margin-bottom: 40px;
}

.v-res{
	position: relative;
	overflow: hidden;
	height: 0;
	padding-top: 30px;
	padding-bottom: 56.25%;
}

.v-res iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*行間の設定*/
.lh10{ line-height: 1.0!important; }
.lh11{ line-height: 1.1!important; }
.lh12{ line-height: 1.2!important; }
.lh13{ line-height: 1.3!important; }
.lh14{ line-height: 1.4!important; }
.lh15{ line-height: 1.5!important; }
.lh16{ line-height: 1.6!important; }
.lh17{ line-height: 1.7!important; }
.lh18{ line-height: 1.8!important; }
.lh19{ line-height: 1.9!important; }
.lh20{ line-height: 2.0!important; }


/*横幅を指定*/
.w05{ width: 5%; }
.w10{ width: 10%; }
.w15{ width: 15%; }
.w20{ width: 20%; }
.w25{ width: 25%; }
.w30{ width: 30%; }
.w35{ width: 35%; }
.w40{ width: 40%; }
.w45{ width: 45%; }
.w50{ width: 50%; }
.w55{ width: 55%; }
.w60{ width: 60%; }
.w65{ width: 65%; }
.w70{ width: 70%; }
.w75{ width: 75%; }
.w80{ width: 80%; }
.w85{ width: 85%; }
.w90{ width: 90%; }
.w95{ width: 95%; }
.w100{ width: 100%; }


/*下線や取消線の設定*/
.underline{ text-decoration: underline!important; }
.del{ text-decoration: line-through; }
.noborder{ border: 0!important; }/*枠線を無くす*/


/*重なりの優先度*/
.z1{ z-index: 1!important; }
.z2{ z-index: 2!important; }
.z3{ z-index: 3!important; }
.z4{ z-index: 4!important; }
.z5{ z-index: 5!important; }
.z10{ z-index: 10!important; }
.z20{ z-index: 20!important; }
.z30{ z-index: 30!important; }
.z40{ z-index: 40!important; }
.z50{ z-index: 50!important; }


/*アイコン*/
.icon_point,
.icon_caution,
.icon_blank,
.icon_arrow_up,
.icon_arrow_right,
.icon_arrow_down,
.icon_arrow_left,
.icon_download,
.icon_pdf,
.icon_zip,
.icon_mail,
.icon_mail_white,
.icon_cart,
.icon_search,
.icon_home,
.icon_folder,
.icon_time,
.icon_calendar,
.icon_building,
.icon_map,
.icon_new,
.icon_beginner,
.icon_share,
.icon_tel{
	line-height: 1;
	font-size: 20px;
}

.icon_point::before,
.icon_caution::before,
.icon_blank::before,
.icon_arrow_up::before,
.icon_arrow_right::before,
.icon_arrow_down::before,
.icon_arrow_left::before,
.icon_download::before,
.icon_pdf::before,
.icon_zip::before,
.icon_mail::before,
.icon_mail_white::before,
.icon_cart::before,
.icon_search::before,
.icon_home::before,
.icon_folder::before,
.icon_time::before,
.icon_calendar::before,
.icon_building::before,
.icon_map::before,
.icon_new::before,
.icon_beginner::before,
.icon_share::before,
.icon_tel::before{
	font-family: 'keni8-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: inherit;
}

.icon_point::before{ content: "\e91a"; }
.icon_caution::before{ content: "\e90d"; }
.icon_blank::before{ content: "\e909"; }
.icon_arrow_up::before{ content: "\e907"; }
.icon_arrow_right::before{ content: "\e902"; }
.icon_arrow_down::before{ content: "\e900"; }
.icon_arrow_left::before{ content: "\e901"; }
.icon_download::before{ content: "\e90e"; }
.icon_pdf::before{ content: "\e919"; }
.icon_zip::before{ content: "\e922"; }
.icon_mail::before{ content: "\e914"; }
.icon_cart::before{ content: "\e90c"; }
.icon_search::before{ content: "\e91d"; }
.icon_home::before{ content: "\e910"; }
.icon_folder::before{ content: "\e90f"; }
.icon_time::before{ content: "\e921";}
.icon_calendar::before{ content: "\e90b"; }
.icon_building::before{ content: "\e90a"; }
.icon_map::before{ content: "\e915"; }
.icon_new::before{ content: "\e916"; }
.icon_beginner::before{ content: "\e908"; }
.icon_share::before{ content: "\e91e"; }
.icon_tel::before{ content: "\e920"; }

.icon_arrow_s_up,
.icon_arrow_s_right,
.icon_arrow_s_down,
.icon_arrow_s_left{
	line-height: 1;
	font-size: 12px;
}

.icon_arrow_s_up::before,
.icon_arrow_s_right::before,
.icon_arrow_s_down::before,
.icon_arrow_s_left::before{
	font-family: 'keni8-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: inherit;
}

.icon_arrow_s_up:before{ content: "\e906"; }
.icon_arrow_s_right:before{ content: "\e905"; }
.icon_arrow_s_down:before{ content: "\e903"; }
.icon_arrow_s_left:before{ content: "\e904"; }



/*---------------------------------------------------------------------
	generated by Keni Template Maker Ver.8.0 on 2019-06-30 16:08:26
----------------------------------------------------------------------*/
